USE [master]
GO
/****** Object:  Database [sistema_correos]    Script Date: 16/6/2026 16:51:14 ******/
CREATE DATABASE [sistema_correos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'sistema_correos', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.PROG3SQL\MSSQL\DATA\sistema_correos.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'sistema_correos_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.PROG3SQL\MSSQL\DATA\sistema_correos_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [sistema_correos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [sistema_correos]
GO
/****** Object:  Table [dbo].[consultas]    Script Date: 16/6/2026 16:51:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[consultas](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[asunto] [varchar](200) NOT NULL,
	[mensaje] [varchar](max) NOT NULL,
	[respuesta] [varchar](max) NULL,
	[estado] [varchar](20) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[paquetes]    Script Date: 16/6/2026 16:51:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[paquetes](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[codigo_seguimiento] [varchar](50) NOT NULL,
	[titulo] [varchar](150) NOT NULL,
	[descripcion] [varchar](max) NULL,
	[fecha_salida] [datetime] NULL,
	[fecha_entrega] [datetime] NULL,
	[user_id] [bigint] NOT NULL,
	[sucursal_origen_id] [bigint] NULL,
	[sucursal_destino_id] [bigint] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[seguimientos]    Script Date: 16/6/2026 16:51:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[seguimientos](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[paquete_id] [bigint] NOT NULL,
	[estado] [varchar](50) NOT NULL,
	[ubicacion] [varchar](255) NOT NULL,
	[observacion] [varchar](max) NULL,
	[fecha_hora] [datetime] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sucursales]    Script Date: 16/6/2026 16:51:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sucursales](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[direccion] [varchar](255) NOT NULL,
	[telefono] [varchar](20) NULL,
	[ciudad] [varchar](100) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 16/6/2026 16:51:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[email] [varchar](150) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[rol] [varchar](20) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[paquetes] ON 

INSERT [dbo].[paquetes] ([id], [codigo_seguimiento], [titulo], [descripcion], [fecha_salida], [fecha_entrega], [user_id], [sucursal_origen_id], [sucursal_destino_id], [created_at], [updated_at]) VALUES (1, N'PK001', N'Celular', N'Envio de celular', CAST(N'2026-06-01T00:00:00.000' AS DateTime), CAST(N'2026-06-03T00:00:00.000' AS DateTime), 2, 1, 3, NULL, NULL)
INSERT [dbo].[paquetes] ([id], [codigo_seguimiento], [titulo], [descripcion], [fecha_salida], [fecha_entrega], [user_id], [sucursal_origen_id], [sucursal_destino_id], [created_at], [updated_at]) VALUES (4, N'PK002', N'Laptop', N'Envio laptop', CAST(N'2026-06-02T00:00:00.000' AS DateTime), CAST(N'2026-06-05T00:00:00.000' AS DateTime), 4, 1, 2, NULL, NULL)
INSERT [dbo].[paquetes] ([id], [codigo_seguimiento], [titulo], [descripcion], [fecha_salida], [fecha_entrega], [user_id], [sucursal_origen_id], [sucursal_destino_id], [created_at], [updated_at]) VALUES (5, N'PK003', N'Documentos', N'Envio documentos', CAST(N'2026-06-03T00:00:00.000' AS DateTime), CAST(N'2026-06-04T00:00:00.000' AS DateTime), 5, 2, 3, NULL, NULL)
SET IDENTITY_INSERT [dbo].[paquetes] OFF
GO
SET IDENTITY_INSERT [dbo].[seguimientos] ON 

INSERT [dbo].[seguimientos] ([id], [paquete_id], [estado], [ubicacion], [observacion], [fecha_hora], [created_at], [updated_at]) VALUES (1, 1, N'Registrado', N'La Paz', NULL, CAST(N'2026-06-16T12:27:30.677' AS DateTime), NULL, NULL)
INSERT [dbo].[seguimientos] ([id], [paquete_id], [estado], [ubicacion], [observacion], [fecha_hora], [created_at], [updated_at]) VALUES (2, 1, N'En Transito', N'Oruro', NULL, CAST(N'2026-06-16T12:27:30.677' AS DateTime), NULL, NULL)
INSERT [dbo].[seguimientos] ([id], [paquete_id], [estado], [ubicacion], [observacion], [fecha_hora], [created_at], [updated_at]) VALUES (3, 1, N'Entregado', N'Cochabamba', NULL, CAST(N'2026-06-16T12:27:30.677' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[seguimientos] OFF
GO
SET IDENTITY_INSERT [dbo].[sucursales] ON 

INSERT [dbo].[sucursales] ([id], [nombre], [direccion], [telefono], [ciudad], [created_at], [updated_at]) VALUES (1, N'Central', N'Av. Principal', N'77777777', N'La Paz', NULL, NULL)
INSERT [dbo].[sucursales] ([id], [nombre], [direccion], [telefono], [ciudad], [created_at], [updated_at]) VALUES (2, N'Sur', N'Zona Sur', N'78888888', N'La Paz', NULL, NULL)
INSERT [dbo].[sucursales] ([id], [nombre], [direccion], [telefono], [ciudad], [created_at], [updated_at]) VALUES (3, N'Cochabamba', N'Centro', N'79999999', N'Cochabamba', NULL, NULL)
SET IDENTITY_INSERT [dbo].[sucursales] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [nombre], [email], [password], [rol], [created_at], [updated_at]) VALUES (1, N'Administrador', N'admin@correo.com', N'$2y$10$92IXUNpkjO0rOQ5byMi.Ye4oKoEa3Ro9llC/.og/at2.uheWG/igi', N'admin', CAST(N'2026-06-16T12:03:49.703' AS DateTime), CAST(N'2026-06-16T12:03:49.703' AS DateTime))
INSERT [dbo].[users] ([id], [nombre], [email], [password], [rol], [created_at], [updated_at]) VALUES (2, N'Juan Perez', N'juan@gmail.com', N'123456', N'cliente', NULL, NULL)
INSERT [dbo].[users] ([id], [nombre], [email], [password], [rol], [created_at], [updated_at]) VALUES (4, N'Maria Gomez', N'maria@gmail.com', N'123456', N'cliente', NULL, NULL)
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_consultas_estado]    Script Date: 16/6/2026 16:51:14 ******/
CREATE NONCLUSTERED INDEX [idx_consultas_estado] ON [dbo].[consultas]
(
	[estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__paquetes__9C6E2E8420DBAF99]    Script Date: 16/6/2026 16:51:14 ******/
ALTER TABLE [dbo].[paquetes] ADD UNIQUE NONCLUSTERED 
(
	[codigo_seguimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_paquete_codigo]    Script Date: 16/6/2026 16:51:14 ******/
CREATE NONCLUSTERED INDEX [idx_paquete_codigo] ON [dbo].[paquetes]
(
	[codigo_seguimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_paquete_usuario]    Script Date: 16/6/2026 16:51:14 ******/
CREATE NONCLUSTERED INDEX [idx_paquete_usuario] ON [dbo].[paquetes]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_seguimiento_fecha]    Script Date: 16/6/2026 16:51:14 ******/
CREATE NONCLUSTERED INDEX [idx_seguimiento_fecha] ON [dbo].[seguimientos]
(
	[fecha_hora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_seguimiento_paquete]    Script Date: 16/6/2026 16:51:14 ******/
CREATE NONCLUSTERED INDEX [idx_seguimiento_paquete] ON [dbo].[seguimientos]
(
	[paquete_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__AB6E6164C6B85DF5]    Script Date: 16/6/2026 16:51:14 ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[consultas] ADD  DEFAULT ('Pendiente') FOR [estado]
GO
ALTER TABLE [dbo].[seguimientos] ADD  DEFAULT (getdate()) FOR [fecha_hora]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('cliente') FOR [rol]
GO
ALTER TABLE [dbo].[consultas]  WITH CHECK ADD  CONSTRAINT [fk_consulta_usuario] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[consultas] CHECK CONSTRAINT [fk_consulta_usuario]
GO
ALTER TABLE [dbo].[paquetes]  WITH CHECK ADD  CONSTRAINT [fk_paquete_sucursal_destino] FOREIGN KEY([sucursal_destino_id])
REFERENCES [dbo].[sucursales] ([id])
GO
ALTER TABLE [dbo].[paquetes] CHECK CONSTRAINT [fk_paquete_sucursal_destino]
GO
ALTER TABLE [dbo].[paquetes]  WITH CHECK ADD  CONSTRAINT [fk_paquete_sucursal_origen] FOREIGN KEY([sucursal_origen_id])
REFERENCES [dbo].[sucursales] ([id])
GO
ALTER TABLE [dbo].[paquetes] CHECK CONSTRAINT [fk_paquete_sucursal_origen]
GO
ALTER TABLE [dbo].[paquetes]  WITH CHECK ADD  CONSTRAINT [fk_paquete_usuario] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[paquetes] CHECK CONSTRAINT [fk_paquete_usuario]
GO
ALTER TABLE [dbo].[seguimientos]  WITH CHECK ADD  CONSTRAINT [fk_seguimiento_paquete] FOREIGN KEY([paquete_id])
REFERENCES [dbo].[paquetes] ([id])
GO
ALTER TABLE [dbo].[seguimientos] CHECK CONSTRAINT [fk_seguimiento_paquete]
GO
USE [master]
GO
