USE [master]
GO
/****** Object:  Database [DW_Correos]    Script Date: 16/6/2026 16:52:19 ******/
CREATE DATABASE [DW_Correos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DW_Correos', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.PROG3SQL\MSSQL\DATA\DW_Correos.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DW_Correos_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.PROG3SQL\MSSQL\DATA\DW_Correos_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DW_Correos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DW_Correos]
GO
/****** Object:  Table [dbo].[DimEstadoSeguimiento]    Script Date: 16/6/2026 16:52:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimEstadoSeguimiento](
	[EstadoKey] [int] IDENTITY(1,1) NOT NULL,
	[Estado] [varchar](50) NULL,
	[Ubicacion] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[EstadoKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimSucursal]    Script Date: 16/6/2026 16:52:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimSucursal](
	[SucursalKey] [int] IDENTITY(1,1) NOT NULL,
	[IdSucursal] [int] NULL,
	[Nombre] [varchar](100) NULL,
	[Direccion] [varchar](255) NULL,
	[Telefono] [varchar](20) NULL,
	[Ciudad] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[SucursalKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimTiempo]    Script Date: 16/6/2026 16:52:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimTiempo](
	[TiempoKey] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [date] NULL,
	[Dia] [int] NULL,
	[Mes] [int] NULL,
	[NombreMes] [varchar](20) NULL,
	[Trimestre] [int] NULL,
	[Anio] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TiempoKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimUsuario]    Script Date: 16/6/2026 16:52:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimUsuario](
	[UsuarioKey] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NULL,
	[Nombre] [varchar](100) NULL,
	[Email] [varchar](150) NULL,
	[Rol] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[UsuarioKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FactPaquetes]    Script Date: 16/6/2026 16:52:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactPaquetes](
	[FactKey] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioKey] [int] NULL,
	[SucursalOrigenKey] [int] NULL,
	[SucursalDestinoKey] [int] NULL,
	[TiempoSalidaKey] [int] NULL,
	[TiempoEntregaKey] [int] NULL,
	[IdPaquete] [int] NULL,
	[CodigoSeguimiento] [varchar](50) NULL,
	[CantidadPaquetes] [int] NULL,
	[TiempoEntregaDias] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[FactKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DimEstadoSeguimiento] ON 

INSERT [dbo].[DimEstadoSeguimiento] ([EstadoKey], [Estado], [Ubicacion]) VALUES (1, N'En Transito', N'Oruro')
INSERT [dbo].[DimEstadoSeguimiento] ([EstadoKey], [Estado], [Ubicacion]) VALUES (2, N'Entregado', N'Cochabamba')
INSERT [dbo].[DimEstadoSeguimiento] ([EstadoKey], [Estado], [Ubicacion]) VALUES (3, N'Registrado', N'La Paz')
SET IDENTITY_INSERT [dbo].[DimEstadoSeguimiento] OFF
GO
SET IDENTITY_INSERT [dbo].[DimSucursal] ON 

INSERT [dbo].[DimSucursal] ([SucursalKey], [IdSucursal], [Nombre], [Direccion], [Telefono], [Ciudad]) VALUES (1, 1, N'Central', N'Av. Principal', N'77777777', N'La Paz')
INSERT [dbo].[DimSucursal] ([SucursalKey], [IdSucursal], [Nombre], [Direccion], [Telefono], [Ciudad]) VALUES (2, 2, N'Sur', N'Zona Sur', N'78888888', N'La Paz')
INSERT [dbo].[DimSucursal] ([SucursalKey], [IdSucursal], [Nombre], [Direccion], [Telefono], [Ciudad]) VALUES (3, 3, N'Cochabamba', N'Centro', N'79999999', N'Cochabamba')
SET IDENTITY_INSERT [dbo].[DimSucursal] OFF
GO
SET IDENTITY_INSERT [dbo].[DimTiempo] ON 

INSERT [dbo].[DimTiempo] ([TiempoKey], [Fecha], [Dia], [Mes], [NombreMes], [Trimestre], [Anio]) VALUES (1, CAST(N'2024-01-01' AS Date), 1, 1, N'January', 1, 2024)
INSERT [dbo].[DimTiempo] ([TiempoKey], [Fecha], [Dia], [Mes], [NombreMes], [Trimestre], [Anio]) VALUES (2, CAST(N'2024-01-02' AS Date), 2, 1, N'January', 1, 2024)
INSERT [dbo].[DimTiempo] ([TiempoKey], [Fecha], [Dia], [Mes], [NombreMes], [Trimestre], [Anio]) VALUES (3, CAST(N'2024-01-03' AS Date), 3, 1, N'January', 1, 2024)
GO
SET IDENTITY_INSERT [dbo].[DimTiempo] OFF
GO
SET IDENTITY_INSERT [dbo].[DimUsuario] ON 

INSERT [dbo].[DimUsuario] ([UsuarioKey], [IdUsuario], [Nombre], [Email], [Rol]) VALUES (1, 1, N'Administrador', N'admin@correo.com', N'admin')
INSERT [dbo].[DimUsuario] ([UsuarioKey], [IdUsuario], [Nombre], [Email], [Rol]) VALUES (2, 1, N'Administrador', N'admin@correo.com', N'admin')
INSERT [dbo].[DimUsuario] ([UsuarioKey], [IdUsuario], [Nombre], [Email], [Rol]) VALUES (3, 1, N'Administrador', N'admin@correo.com', N'admin')
SET IDENTITY_INSERT [dbo].[DimUsuario] OFF
GO
SET IDENTITY_INSERT [dbo].[FactPaquetes] ON 

INSERT [dbo].[FactPaquetes] ([FactKey], [UsuarioKey], [SucursalOrigenKey], [SucursalDestinoKey], [TiempoSalidaKey], [TiempoEntregaKey], [IdPaquete], [CodigoSeguimiento], [CantidadPaquetes], [TiempoEntregaDias]) VALUES (1, 5, 1, 3, 883, 885, 1, N'PK001', 1, 2)
INSERT [dbo].[FactPaquetes] ([FactKey], [UsuarioKey], [SucursalOrigenKey], [SucursalDestinoKey], [TiempoSalidaKey], [TiempoEntregaKey], [IdPaquete], [CodigoSeguimiento], [CantidadPaquetes], [TiempoEntregaDias]) VALUES (2, 12, 1, 2, 884, 887, 4, N'PK002', 1, 3)
INSERT [dbo].[FactPaquetes] ([FactKey], [UsuarioKey], [SucursalOrigenKey], [SucursalDestinoKey], [TiempoSalidaKey], [TiempoEntregaKey], [IdPaquete], [CodigoSeguimiento], [CantidadPaquetes], [TiempoEntregaDias]) VALUES (3, 13, 2, 3, 885, 886, 5, N'PK003', 1, 1)
SET IDENTITY_INSERT [dbo].[FactPaquetes] OFF
GO
ALTER TABLE [dbo].[FactPaquetes]  WITH CHECK ADD FOREIGN KEY([SucursalOrigenKey])
REFERENCES [dbo].[DimSucursal] ([SucursalKey])
GO
ALTER TABLE [dbo].[FactPaquetes]  WITH CHECK ADD FOREIGN KEY([SucursalDestinoKey])
REFERENCES [dbo].[DimSucursal] ([SucursalKey])
GO
ALTER TABLE [dbo].[FactPaquetes]  WITH CHECK ADD FOREIGN KEY([TiempoSalidaKey])
REFERENCES [dbo].[DimTiempo] ([TiempoKey])
GO
ALTER TABLE [dbo].[FactPaquetes]  WITH CHECK ADD FOREIGN KEY([TiempoEntregaKey])
REFERENCES [dbo].[DimTiempo] ([TiempoKey])
GO
ALTER TABLE [dbo].[FactPaquetes]  WITH CHECK ADD FOREIGN KEY([UsuarioKey])
REFERENCES [dbo].[DimUsuario] ([UsuarioKey])
GO
USE [master]
GO
